.git
.github
.gitignore
.env
*.md
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.env
.venv
*.log
.coverage
htmlcov/
.tox/
.nox/
.hypothesis/
.pytest_cache/
postgres_data/
**/__pycache__
**/.git
**/.env
**/venv
**/*.pyc
**/*.pyo
**/*.pyd
.DS_Store
